<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gudqs.business.test.mapper.WechatKeywordMapper" >

    <resultMap id="result" type="cn.gudqs.business.test.entity.WechatKeywordModel"/>

    <select id="findAll" resultMap="result">
        select * from wechat_keyword
    </select>

</mapper>